.login {
  margin-top: 110px;
  position: relative;
  background-color: #FEECC8;
  border: 2px solid #6D3E48;
  border-radius: 1rem;
  box-shadow: 0px 1px 3px 2px #0000005c;
}

form {
  height: 24rem;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 44vw;
  height: 33rem;
}

.button-holder {
  display: flex;

}

.email-input,
.password-input,
.business-name-input,
.address-input,
.phone-number-input,
.contact-name-input,
.food-type-input {
  background-color: #fef9ee;
  border: 1px solid #6D3E48;
  display: flex;
  width: 19rem;
  align-content: center;
  height: 2rem;
  margin-top: 1rem;
  border-radius: 5px;
  padding-left: 5px;
  font-size: 1.3rem;
  opacity: 1;
}

.signin-button, .signup-button {
  color: white;
  background-color: #6D3E48;
  width: 19rem;
  height: 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  margin-top: 2rem;
  margin-bottom: 25px;
}
.email-input::placeholder,
.name-input::placeholder,
.password-input::placeholder {
  color: #8C8C8C;
}

.logo-input {
  margin-top: 1.3rem;
}

.logo-button {
  width: 2rem;
}

.hidden {
  display: none;
  transition: all .2s;
}