.main {
  background-color: #FEECC8;
}

header {
  height: 8rem;
  margin-top: -2rem;
  padding: 1rem;
}

.main-title {
  text-align: center;
  font-size: 3rem;
  letter-spacing: .3em;
}

.register {
  font-size: 1.2rem;
}