.main {
  background-color: #CDDDDC;
}

header {
  height: 8rem;
  background-color: #FEECC8;
  padding: 1rem;
}

.main-title {
  text-align: center;
  color: #6D3E48;
  font-size: 3rem;
  letter-spacing: .2em;
}

.register {
  font-size: 1.2rem;
}