.parent-container {
  font-family: 'ZCOOL XiaoWei', serif;
  width: 100%;
}

.profile-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.biz-name {
  font-family: 'Averia Libre', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: underline;
  color: #6D3E48;
  font-size: 4rem;
  margin-top: 7rem;
  margin-bottom: 4rem;
}

.biz-title { 
  font-size: 1.6rem;
  font-weight: 800;
  margin-bottom: 0.6rem;
}

.biz-info {
  font-size: 1.4rem;
  margin-bottom: 1.7rem;
}


.biz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45rem;
}

.upcoming-events-container {
  width: 36rem;
  margin-top: 7rem;
  height: 30rem;
  overflow: scroll;
}

.upcoming-events-title {
  background-color: #8a646c;
  font-size: 2rem;
  line-height: 5rem;
  font-weight: 400;  
  text-align: center;
  border: 2px solid; 
}

.upcoming-events-date {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin: 0;
  padding-left: 1.2rem;
  background-color: #FEECC8;
  border: 2px solid;
  color: #594E42;
}

.booked {
  border: 2px solid green;
}

.open {
  border: 2px solid red;
}

.upcoming-events-status {
  margin-left: 2rem;
}

.calendar {
  display: inline-block;
  width: 10rem;
  margin-bottom: 3rem;
}

.day {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  font-weight: 800;
}
.circle {
  padding-top: 40px;
  height: 90px;
  width: 90px;
  background-color: #6D3E48;
  border-radius: 50%;
  text-align: center;
  color: #FEECC8;
}

.create-event-button {
  position: absolute;
  left: 85%;
  top: 140px;
  width: 180px;
  height: 52px;
  font-size: 1.5rem;
  border-radius: 13px;
  background-color: #FEECC8;
  border: 2px solid #8a646c;
}

.create-event-form {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  left: 41%;
  top: 34%;
  border-radius: 50px;
  background-color: #FEECC8;
  border: 2px solid #8a646c;
  box-shadow: 0 0 820px 820px #00000070;
}

.create-event-date {
  display: inline-block;
  font-size: 40px;
}

.create-event-input {
  width: 170px;
  height: 55px;
  font-size: 30px;
  margin-bottom: 0;
  display: inline-block;
}

.create-event-input::placeholder {
  font-size: 30px;
}

.create-event-form-button {
  width: 110px;
  height: 45px;
  background-color: #6D3E48;
  color: #fff;
  font-weight: 700;
  font-size: 25px;
  cursor: pointer;
}

.change-status-button {
  background-color: #6D3E48;
  color: #fff;
  margin-left: 2rem;
  height: 35px;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.delete-status-button {
  background-color: #6D3E48;
  color: #fff;
  margin-left: 1.2rem;
  height: 35px;
  font-size: 15px;
  margin-right: 1rem;
  border-radius: 10px; 
  border: 1px solid #8a646c;
  cursor: pointer;
}